{% extends 'base.html' %}
{% block title %}Criar Usuário{% endblock %}

{% block content %}

{% include 'components/header.html' %}

<div class="label text-center my-5">
    <h6 class="display-6 font-bold text-2xl">ADICIONAR USUÁRIO</h6>
</div>

<div class="container mx-auto">
    <form class="p-6 border rounded-lg shadow-md" method="POST" action="{{ url_for('create_user') }}">
        <div id="criar-usuario" class="space-y-4">

            <div>
                <input type="text" class="form-control border rounded-md p-2 w-full" id="username" name="username" placeholder="Nome de Usuário" required>
            </div>

            <div>
                <input type="email" class="form-control border rounded-md p-2 w-full" id="email" name="email" placeholder="Email" required>
            </div>

            <div>
                <input type="password" class="form-control border rounded-md p-2 w-full" id="password" name="password" placeholder="Senha" required>
            </div>
            
            <div>
                <label for="isAdmin" class="form-label block mb-2">Admin</label>
                <select class="form-select border rounded-md p-2 w-full" id="isAdmin" name="isAdmin">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>

        </div>

        <div class="action-canvas flex justify-between mt-4">
            <div class="div1">
                <button type="submit" class="btn bg-green-500 text-white rounded-md px-4 py-2">Salvar</button>
                <a href="{{ url_for('index') }}" class="btn bg-red-500 text-white rounded-md px-4 py-2">Descartar</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}