{% extends 'base.html' %}
{% block title %}Criar Usuário{% endblock %}

{% block content %}

{% include 'components/header.html' %}

<div class="label text-center my-5">
    <h6 class="display-6">ADICIONAR USUÁRIO</h6>
</div>

<div class="container">
    <form class="p-4 border rounded shadow" method="POST" action="{{ url_for('create_user') }}">
        <div id="criar-usuario">

            <div class="mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Nome de Usuário" required>
            </div>

            <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
            </div>
            
            <div class="mb-3">
                <label for="isAdmin" class="form-label">Admin</label>
                <select class="form-select" id="isAdmin" name="isAdmin">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>

        </div>

        <div class="action-canvas d-flex justify-content-between mt-4">
            <div class="div1">
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="{{ url_for('index') }}" class="btn btn-danger">Descartar</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}
