{% extends 'base.html' %}

{% block title %}Listar Usuários{% endblock %}

{% include 'components/header.html' %}

{% block content %}
<div class="container">
    <p class="fw-bold fs-5">Listar de Usuários</p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Admin</th>
                <th>Ações</th>
                <!-- <th>Ações</th> -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.isAdmin }}</td>
                <td>
                    <a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn btn-warning">Editar</a>
                </td>
       
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
