{% extends 'base.html' %}

{% block title %}Listar Usuários{% endblock %}

{% block content %}
<div class="container">
    <h1>Listar Usuários</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Admin</th>
                <!-- <th>Ações</th> -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.isAdmin }}</td>
       
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
