{% extends 'base.html' %}

{% block title %}Listar Usuários{% endblock %}


{% block content %}
<div class="container mx-auto px-4 mt-8">
    <p class="font-bold text-lg mb-4">Listar de Usuários</p>
    
    <div class="mb-4">
        <a href="{{ url_for('create_user') }}" class="btn bg-blue-500 text-white rounded-md px-4 py-2">Adicionar usuário</a>
    </div>
    
    <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md">
        <thead class="bg-gray-200">
            <tr>
                <th class="py-2 px-4 border-b">ID</th>
                <th class="py-2 px-4 border-b">Nome</th>
                <th class="py-2 px-4 border-b">Email</th>
                <th class="py-2 px-4 border-b">Senha</th>
                <th class="py-2 px-4 border-b">Admin</th>
                <th class="py-2 px-4 border-b">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="hover:bg-gray-100">
                <td class="py-2 px-4 border-b">{{ user.id }}</td>
                <td class="py-2 px-4 border-b">{{ user.username }}</td>
                <td class="py-2 px-4 border-b">{{ user.email }}</td>
                <td class="py-2 px-4 border-b">{{ user.password }}</td>
                <td class="py-2 px-4 border-b">{{ user.isAdmin }}</td>
                <td class="py-2 px-4 border-b">
                    <a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn bg-yellow-400 text-white rounded-md px-2 py-1">Editar</a>
                    <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn bg-red-500 text-white rounded-md px-2 py-1">Descartar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}