{% extends 'base.html' %}
{% block title %}Criar Post{% endblock %}

{% block content %}

<div class="label mb-5 mt-8">
    <h6 class="text-xl font-semibold">ADICIONAR POSTAGEM</h6>
</div>

<form method="POST" action="{{ url_for('create_post') }}" class="space-y-4">
    <div id="criar-post">
        <div class="mb-3">
            <input type="text" class="form-input block w-full border border-gray-300 rounded-md p-2" id="title" name="title" placeholder="Título">
        </div>
        <div class="mb-3">
            <input type="text" class="form-input block w-full border border-gray-300 rounded-md p-2" id="slug" name="slug" placeholder="Slug">
        </div>
        <div class="mb-3">
            <textarea class="form-textarea block w-full border border-gray-300 rounded-md p-2" id="body" name="body" rows="8" placeholder="Escreva o conteúdo aqui..."></textarea>
        </div>
        <div class="mb-3">
            <label for="author_id" class="form-label block mb-2">Autor</label>
            <select class="form-select block w-full border border-gray-300 rounded-md p-2" id="author_id" name="author_id">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label block mb-2">Imagem</label>
            <input type="url" class="form-input block w-full border border-gray-300 rounded-md p-2" id="image" name="image" placeholder="https://github.com/image.png">
        </div>
    </div>

    <div class="flex justify-between mt-4">
        <div>
            <button type="submit" class="btn btn-success p-2 bg-green-500 text-white rounded-md">Salvar</button>
            <a  class="btn btn-danger p-2 bg-red-500 text-white rounded-md">Descartar</a>
        </div>
        <div>
            <button type="submit"  class="btn btn-primary p-2 bg-blue-500 text-white rounded-md">Salvar e Adicionar Outro</button>
        </div>
    </div>
</form>

{% endblock %}
