{% extends 'base.html' %}

{% block title %}Listar Postagens{% endblock %}



{% block content %}
<div class="container mx-auto my-6 mt-8">
    <h1 class="text-2xl font-semibold mb-4">Listar Postagens</h1>
    <div class="mb-4">
        <a href="{{ url_for('create_post') }}" class="btn btn-info bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Novo Post</a>
    </div>
    <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-lg">
        <thead>
            <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">ID</th>
                <th class="py-3 px-6 text-left">Título</th>
                <th class="py-3 px-6 text-left">Autor</th>
                <th class="py-3 px-6 text-left">Ações</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
            {% for post in posts %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6">{{ post.id }}</td>
                <td class="py-3 px-6"><a href="{{ url_for('see_post', slug=post.slug) }}" class="text-blue-500 hover:underline">{{ post.title }}</a></td>
                <td class="py-3 px-6">{{ post.author.username }}</td>
                <td class="py-3 px-6">
                    <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-warning bg-yellow-500 text-white py-1 px-3 rounded hover:bg-yellow-600">Editar</a>
                    <a href="{{ url_for('discard_changes', post_id=post.id) }}" class="btn btn-danger bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600">Descartar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}