#criar-post {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--light_sec);
}

.action-canvas {
  margin: 20px;
}

.div1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.div2 {
  display: flex;
  justify-content: center;
}

#menu a {
  font-weight: 100;
  font-size: 12px;
}

#criar-post .form-control {
  font-weight: 400;
  font-size: 14px;
  background-color: #efefef;
  color: #282828;
  padding: 8px 12px;
}
/* 
@media (max-width: 500px) {
  #criar-post .form-control:focus {
    position: fixed;
    bottom: 10px;
    max-width: 360px;
    background-color: #363636;
    color: #fafafa;
  }
} */

.accordion-body {
  background-color: var(--sec_color);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#criar-post #title {
  font-size: 16px;
}

#slug,
#body,
#author,
#image {
  font-size: 14px;
}



#accordionFlushExample {
  margin: 10px;
}
