{% load static %}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Poppins:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    --radius-top:  0px;
}

body {
   
    font-family: 'M PLUS 1', sans-serif;
}

a {
    text-decoration: none;
}

#header-post{
    width: 25rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'M PLUS 1', sans-serif;
  color: grey ;
  display: absolute;
  /*font-style: italic;*/
  
}

p{
  font-family: 'M PLUS 1', sans-serif;
}

#post-title{
    color: dark;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    display: absolute;
    font-weight: 800;
}


#autor{
    font-family: 'Roboto', sans-serif;
    color: grey ;
    font-style: bold;
}

hr{
    color: grey;
}

#overlay{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#post-img{
    position: relative;
    text-align: center;
    color: white;
    max-width: 800px;
    margin: auto;
    display: flex;
    margin-top: 0;
}

a{
    text-decoration: none;
    text-indent: inherit;
    color: black;
}



footer{
    justify-content: center;
    display: flex;
    width: 100%;
}

li{
    font-weight: bold;
}

@cap{
    color: red;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

pre, code{
    background-color: #282828;
    color: #d4d4d4;
    border-radius: 12px;
    padding: 10px;
    text-align: start;
    margin-bottom: 10px;
    display: flex-start;
    box-shadow: 8px 13px 18px -11px rgba(0,0,0,0.7);
}

h2{
    margin-top: 10px;
    font-weight: 800;
    font-size: 30px;
}

h3{
    /*font-size: 20px;*/
    font-weight: 100;
    
}



.card{
    /*box-shadow: 8px 13px 29px 2px rgba(0,0,0,0.7);*/
    padding-top: 0;
    border-top-left-radius: var(--radius-top);
    border-top-right-radius: var(--radius-top);
}

/*.card:hover{
    animation-name: card-move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: .1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;

}*/

@keyframes card-move{

    0%   {left:0px; top:0px;}
  50%  {box-shadow: 8px 13px 18px -11px rgba(0,0,0,0.7); /*left:5px; top:-5px;*/}
  

}

.card img{
    border-top-left-radius: var(--radius-top);
    border-top-right-radius: var(--radius-top);
    padding: 0;
}

#painel-header{
    background-color: #417690;
    margin: 0;
    padding: 0;

}

#painel-header h4{
    color: #f5dd5d;
}

#painel-header #menu{
    max-width: 700px;
    color: #ffffcc;
    display: inline-flex;
    justify-items: center;
    justify-content: center;
    /*grid-column: 4;*/
    font-size: 14px;
    text-align: center;
    padding: 20px;
    /* background-color: #345345; */
}

#painel-header a{
    text-decoration: underline;
    text-decoration-color: #E8D748;
    color: #ffffff;
}

#painel-main{
    padding: 20px;
    min-width: 300px;
    max-width: 700px;
}


.label{
    background-color:  #79aec8;
    margin-bottom: 0;

    
}

.label h6{
    color: #ffffff;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 0;
}

#painel-main #dt{
    /* background-color: #987567; */
    padding: 10px;
    color: #fffeee;
    margin-top: 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

}

.dt-row {
    display: flex;
    justify-content: space-between;
    /* padding-right: 10px; */
    padding: 5px;
    /* background-color: #876475; */
    text-align: center;
}

.dt-row a{
    padding-right: 10px;
    color: #447e9b;
}

#painel-main hr{
    margin: 1px;
}

#dt .type{
    
    font-weight: bold;
}

.action {

}