{% extends 'base.html' %}
{% block title %} Tech Future - Seu Blog Sobre Tecnologia {% endblock %}

{% block content %}

<section class="container-fluid">
  {% include 'components/scroll_buttons.html' %}
</section>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-0 mb-4">
  
    {% for post in posts %}
    <div class="col">
      <div class="card h-100 border-0">
        <a href="{{ url_for('see_post', slug=post.slug) }}">
          <img src="{{ post.image }}" class="card-img-top rounded-lg" alt="{{ post.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
          </a>
            <small class="date text-muted">{{ post.created_at.strftime("%d/%m/%Y às %H:%M")}}</small>
          </div>
        </div>
      </div>
    {% endfor %}
    
  </div>
  
  <div class="text-center">
    <a class="btn btn-primary" href="{{ url_for('page', post_num=2) }}">Próxima Página</a>

  </div>
</div>

{% endblock %}