{% extends 'base.html' %}
{% block title %} Tech Future - Seu Blog Sobre Tecnologia {% endblock %}

{% block content %}

<section class="container-fluid mt-4">
  {% include 'components/scroll_buttons.html' %}
</section>

<div class="container mx-auto px-2 mt-2">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-0 mb-4">
  
    {% for post in posts %}
    <div class="card border border-gray-200 rounded-lg overflow-hidden shadow-lg transition-shadow duration-300 hover:shadow-xl">
      <a href="{{ url_for('see_post', slug=post.slug) }}">
        <img src="{{ post.image }}" class="w-full h-48 object-cover" alt="{{ post.title }}">
        <div class="p-4">
          <h2 class="title  text-lg font-extrabold">{{ post.title }}</h2>
        </a>
        <small class="text-gray-500">{{ post.created_at.strftime("%d/%m/%Y às %H:%M")}}</small>
      </div>
    </div>
    {% endfor %}
    
  </div>
  
  <div class="text-center mt-4">
    <a class="btn btn-primary px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-200" href="{{ url_for('page', post_num=2) }}">Próxima Página</a>
  </div>
</div>

{% endblock %}