{% extends 'base.html' %}
{% block title %} Tech Future - Seu Blog Sobre Tecnologia {% endblock %}

{% block content %}
  
  

<h2 class="text-center">Artigos Em Destaque</h2>





<div  class="container">

<div class="row row-cols-1 row-cols-md-3 g-4 mt-0 mb-4">
  
  {% for post in posts %}
  <div  class="col ">
    <div class="card h-100 border-0 ">
      <a href="{{url_for('ver_post', slug= post.slug) }}">
      <img src="{{post.image}}" class="card-img-top rounded-lg  border-0" alt="{{post.slug}}">
      <div class="card-body">
        <h5 class="card-title">
    {{ post.title }}  
  </h5> </a>
    <small class="date">{{post.created_at}}</small>
        <p class="card-text">{% autoescape off %} 
        {{ post.body | truncate(250)}}  
      {% endautoescape %}</p>
        <a href="{{ url_for('ver_post', slug= post.slug) }}"><button class="btn btn-outline-primary">Ler Mais  <i class="fas fa-solid fa-angle-right"> </i></button></a>
      </div>
    </div>
  </div>
  {% endfor %}

<a href="{{url_for('page',post_num = 4)}}">Proxima Página </a>
</div>


  {% endblock %}