{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

<div class="post-container mx-auto mt-6 mb-4">
  <img id="post-img" class="rounded-lg w-full max-w-2xl mx-auto " src="{{ post.image }}" alt="{{ post.title }}">
  
  <div class="min-w-[300px] max-w-2xl mx-auto mt-6 ">
    <h2 class="title text-center mb-8 text-2xl font-extrabold">{{ post.title }}</h2>

    

    <div class="mb-4">
      <hr>
      <div class="flex justify-between mb-2">
        <p class="font-bold">{{ post.author.username }}</p>
        {% if post.author.isAdmin %}
        <a href="{{ url_for('edit_post', post_id=post.id) }}" class="text-blue-600 hover:underline">Editar post</a>
        {% endif %}
      </div>

      <div>
        <span>
          <i class="far fa-clock"></i>
        </span>
        <small class="ml-1">
          {{ post.created_at.strftime("%d/%m/%Y") }} {{ post.created_at.strftime("%Hh%M") }}
        </small>
        <br>
        <small>
          <a href="#">
            <span class="badge rounded-pill bg-dark p-2 mt-1 mb-1">{{ post.category }}</span>
          </a>
        </small>
      </div>
      <hr>
    </div>

    <div>
      <p id="post-body" class="mb-4">{% autoescape off %}{{ post.body }}{% endautoescape %}</p>
      <strong>Fonte: </strong>
      <a href="#">
        <span class="badge rounded-pill bg-secondary p-2 mt-3">{{ post.fontes }}</span>
      </a>
    </div>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"></div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"></div>
    </div>
  </div>
</div>

{% endblock %}