<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="246x246" href="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Poppins:ital,wght@0,500;1,500&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/criar_post.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cores.css') }}">

</head>

<body class="bg-gray-100 text-gray-900 font-sans">

    {% include 'components/nav_bar.html' %}

    <div class="pt-5 mt-2"></div>

    <main class="container mx-auto p-4">
        {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="fixed bottom-0 left-0 w-full p-4 space-y-2">
            {% for category, message in messages %}
            <div class="p-4 rounded-md text-white {{ 'bg-green-500' if category == 'success' else 'bg-red-500' }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

</body>
</html>