{% extends 'base.html' %}
{% block title %}Painel De Administração{% endblock %}

{% block content %}
<div class="container"></div>
<header id="painel-header">
	<h4 class="text-center">Painel de Administração</h4>
	<div id="menu"><span>Bem vindo(a), JESIEL <a href="">VER SITE</a> / <a href="">ALTERAR SENHA</a> / <a href="">ENCERRAR SEÇÃO</a> </span></div>
</header>


<main id="painel-main">
	<h5>Administração do Blog</h5>

	<div>
		<div class="label"><h6>AUTORIZAÇÃO E AUTENTICAÇÃO</h6></div>
		<div id="dt">
			<div class="dt-row">
				<a class="type" href="">Grupos</a>
				<div class="action">
					<a  href="">+Adicionar</a>
					<a href="">Modificar</a>
				</div>
				
			</div>
			<hr>
			<div class="dt-row">
				<a class="type" href="">Usuários</a>
				<div class="action">
					<a  href="">+Adicionar</a>
					<a href="">Modificar</a>
				</div>
			</div>
			
			
		</div>
		

	</div>
</main>
</div>




{% endblock %}