<style>
    /* Reduzindo o padding da navbar */
    #nav-logo {
        height: 40px; /* Ajusta o tamanho do logo, se necessário */
    }
    .mobile-navbar {
        transition: max-height 0.5s ease, opacity 0.5s ease; /* Transição para a navbar mobile */
        overflow: hidden; /* Para ocultar o conteúdo quando não estiver visível */
        max-height: 0; /* Começa fechado */
        opacity: 0; /* Começa invisível */
    }
    .mobile-navbar.show {
        max-height: 200px; /* Altura máxima para quando o menu está visível (ajuste conforme necessário) */
        opacity: 1; /* Torna visível */
    }
</style>

<!-- Navbar -->
<nav class="bg-white shadow-lg fixed top-0 left-0 right-0 z-10">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a id="logo" class="flex items-center" href="/">
            <img id="nav-logo" src="{{ url_for('static', filename='img/logo-variation.png') }}" alt="Logo" class="h-10"> <!-- Ajuste a altura conforme necessário -->
        </a>
        <button class="lg:hidden p-2 border-0" type="button" onclick="toggleNavbar()">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>

        <div class="hidden lg:flex flex-grow justify-end space-x-4" id="navbarSupportedContent">
            <a class="text-gray-800 hover:text-blue-600" href="/">Home</a>
            
            {% if not session.email %}
            <a class="text-gray-800 hover:text-blue-600" href="/login">Login</a>
            {% else %}
            <a class="text-gray-800 hover:text-blue-600" href="/logout">Logout</a>
            {% endif %}
            {% if isAdmin %}
            <a class="text-gray-800 hover:text-blue-600" href="/admin">Admin</a>
            {% endif %}
        </div>
    </div>

    <!-- Navbar mobile -->
    <div class="mobile-navbar" id="mobileNavbar">
        <div class="flex flex-col space-y-2 px-4 py-2">
            <a class="text-gray-800 hover:text-blue-600" href="/">Home</a>
            {% if not session.email %}
            <a class="text-gray-800 hover:text-blue-600" href="/login">Login</a>
            {% else %}
            <a class="text-gray-800 hover:text-blue-600" href="/logout">Logout</a>
            {% endif %}
            {% if isAdmin %}
            <a class="text-gray-800 hover:text-blue-600" href="/admin">Admin</a>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    function toggleNavbar() {
        const mobileNavbar = document.getElementById('mobileNavbar');
        mobileNavbar.classList.toggle('show'); // Adiciona ou remove a classe 'show'

        // Transição de opacidade e altura
        if (mobileNavbar.classList.contains('show')) {
            mobileNavbar.style.maxHeight = mobileNavbar.scrollHeight + "px"; // Ajusta a altura máxima para a altura do conteúdo
        } else {
            mobileNavbar.style.maxHeight = "0"; // Fecha o menu
        }
    }
</script>