<style>
    /* Escondendo a barra de rolagem em navegadores */
    .scrolling-categories {
        overflow-x: auto; /* Permite rolagem horizontal */
        white-space: nowrap; /* Impede quebra de linha */

    }

    /* Esconder a barra de rolagem */
    .scrolling-categories::-webkit-scrollbar {
        display: none; /* Para Chrome, Safari e Opera */
    }

    .scrolling-categories {
        -ms-overflow-style: none; /* Para Internet Explorer e Edge */
        scrollbar-width: none; /* Para Firefox */
    }

    
</style>

<div class="container mx-auto mt-6">
    <div class="scrolling-categories">
        <div class="inline-block mr-2">
            <div class="category-item bg-blue-500 text-white rounded-full px-4 py-2 cursor-pointer transition duration-300 hover:bg-blue-600">Tecnologia</div>
        </div>
        <div class="inline-block mr-2">
            <div class="category-item bg-blue-500 text-white rounded-full px-4 py-2 cursor-pointer transition duration-300 hover:bg-blue-600">Desenvolvimento</div>
        </div>
        <div class="inline-block mr-2">
            <div class="category-item bg-blue-500 text-white rounded-full px-4 py-2 cursor-pointer transition duration-300 hover:bg-blue-600">Educação</div>
        </div>
        <div class="inline-block mr-2">
            <div class="category-item bg-blue-500 text-white rounded-full px-4 py-2 cursor-pointer transition duration-300 hover:bg-blue-600">Saúde</div>
        </div>
        <div class="inline-block mr-2">
            <div class="category-item bg-blue-500 text-white rounded-full px-4 py-2 cursor-pointer transition duration-300 hover:bg-blue-600">Música</div>
        </div>
        <div class="inline-block mr-2">
            <div class="category-item bg-blue-500 text-white rounded-full px-4 py-2 cursor-pointer transition duration-300 hover:bg-blue-600">Arte</div>
        </div>
        <div class="inline-block mr-2">
            <div class="category-item bg-blue-500 text-white rounded-full px-4 py-2 cursor-pointer transition duration-300 hover:bg-blue-600">Negócios</div>
        </div>
        <div class="inline-block mr-2">
            <div class="category-item bg-blue-500 text-white rounded-full px-4 py-2 cursor-pointer transition duration-300 hover:bg-blue-600">Ciência</div>
        </div>
        <div class="inline-block mr-2">
            <div class="category-item bg-blue-500 text-white rounded-full px-4 py-2 cursor-pointer transition duration-300 hover:bg-blue-600">Literatura</div>
        </div>
    </div>
</div>